@import url("https://fonts.googleapis.com/css?family=Montserrat");
nav.topbar {
  height: auto;
  padding: 10px 0;
  margin: auto;
  position: block;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); }
  nav.topbar .icons i {
    color: white;
    margin-right: 2rem;
    transition: color 0.3s ease-in; }
    nav.topbar .icons i:nth-child(5) {
      margin-right: 60px; }
    nav.topbar .icons i.fa-twitter:hover {
      cursor: pointer;
      transition: color 0.3s ease-in;
      color: #66a6ff; }
    nav.topbar .icons i.fa-facebook-f:hover {
      cursor: pointer;
      transition: color 0.3s ease-in;
      color: #3C5A99; }
    nav.topbar .icons i.fa-instagram:hover {
      cursor: pointer;
      transition: color 0.3s ease-in;
      color: #e75d8c; }
    nav.topbar .icons i.fa-linkedin-in:hover {
      cursor: pointer;
      transition: color 0.3s ease-in;
      color: #0099e8; }
    nav.topbar .icons i.fa-pinterest-p:hover {
      cursor: pointer;
      transition: color 0.3s ease-in;
      color: #de4049; }
  nav.topbar .topbar-contact {
    color: white;
    padding: 5px 0;
    margin: 0 20px 0 0;
    font-size: 1.2rem; }
  @media (max-width: 824px) and (min-width: 699px) {
    nav.topbar {
      justify-content: flex-start;
      padding-left: 20px; } }
  @media (max-width: 700px) {
    nav.topbar {
      height: auto;
      justify-content: center; }
      nav.topbar .icons {
        margin: 0 0 0 40px; }
        nav.topbar .icons i {
          display: inline-block;
          padding: 10px;
          margin: auto; } }

nav.navbar {
  margin: 0;
  padding: 5px 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); }
  nav.navbar .hamburger {
    position: absolute;
    margin: 28px 10px 5px 10px;
    left: 80%;
    transform: translate(10%, -45%);
    cursor: pointer;
    margin-left: 10px; }
    nav.navbar .hamburger .line {
      height: 3px;
      margin: 5px;
      width: 30px;
      background: white;
      display: block; }
    nav.navbar .hamburger.hamburger-hidden {
      display: none; }
  nav.navbar ul.nav-ul-link {
    list-style-type: none;
    margin: 2px 30px 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center; }
    nav.navbar ul.nav-ul-link .link {
      color: white;
      text-decoration: none;
      margin: 1rem; }
      nav.navbar ul.nav-ul-link .link:hover {
        transition: color 0.1s ease-in;
        color: #89f7fe;
        cursor: pointer; }
    nav.navbar ul.nav-ul-link .nav-link {
      margin: 10px 20px;
      display: inline;
      font-size: 1.2rem; }
      nav.navbar ul.nav-ul-link .nav-link#nav-brand {
        font-size: 2rem;
        margin-left: auto;
        padding-right: 30px;
        color: white; }
      nav.navbar ul.nav-ul-link .nav-link.nav-link-login {
        padding: 12px 50px;
        font-size: 1rem;
        border-radius: 5px;
        width: auto;
        color: black;
        cursor: pointer;
        border: none;
        outline: none;
        background: white; }
        nav.navbar ul.nav-ul-link .nav-link.nav-link-login .link {
          color: black; }
          nav.navbar ul.nav-ul-link .nav-link.nav-link-login .link:hover {
            color: black; }
        nav.navbar ul.nav-ul-link .nav-link.nav-link-login:hover {
          box-shadow: -1px 1px 10px white; }
    nav.navbar ul.nav-ul-link .nav-hamburger-toggle {
      transition: max-height 0.8s ease-in;
      max-height: 1000px; }
      nav.navbar ul.nav-ul-link .nav-hamburger-toggle.nav-hamburger-toggle-hidden {
        max-height: 0px;
        transition: max-height 0.8s ease-out; }
  @media (max-width: 900px) {
    nav.navbar ul.nav-ul-link {
      flex-direction: column; }
      nav.navbar ul.nav-ul-link .nav-link {
        display: block;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px; }
        nav.navbar ul.nav-ul-link .nav-link#nav-brand {
          margin: 10px auto; }
        nav.navbar ul.nav-ul-link .nav-link.nav-link-login {
          margin: 10px auto; } }

.courseCarousel {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  margin-top: 3rem;
  padding: 1rem 7rem;
  overflow: hidden; }
  .courseCarouselHeader {
    text-align: center;
    margin-top: 3rem; }
  .courseCarousel .courseBox {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    border-top: 7px solid #66a6ff;
    box-shadow: -1px 1px 5px #999; }
    .courseCarousel .courseBox .takeCourse {
      cursor: pointer;
      height: 50px;
      width: 150px;
      margin: auto;
      background: #66a6ff;
      color: white;
      border: none;
      font-size: 1rem;
      font-style: inherit;
      border-radius: 10px;
      outline: none; }
      .courseCarousel .courseBox .takeCourse:hover {
        box-shadow: -1px 1px 10px #66a6ff;
        transition: box-shadow 0.3s ease-in; }
    .courseCarousel .courseBox .courseName {
      text-align: center;
      font-size: 2rem; }
    .courseCarousel .courseBox .taughtBy {
      text-align: center; }

.courseItem {
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  box-shadow: -1px 1px 5px #999;
  border-left: 10px solid #66a6ff; }
  .courseItem h1 {
    font-size: 1.5rem;
    font-weight: 700; }
  .courseItem p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #999; }

form.register-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  box-shadow: -1px 2px 3px #999;
  border-radius: 0 0 5px 5px;
  border-top: 10px solid rgba(102, 166, 255, 0.5);
  padding: 10px; }
  form.register-form .form-control,
  form.register-form .form-heading {
    margin: 10px auto; }
  form.register-form .form-control .form-input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid rgba(153, 153, 153, 0.5);
    outline: none;
    padding: 10px;
    font-size: 1rem; }
    form.register-form .form-control .form-input:focus {
      box-shadow: -1px 1px 5px #66a6ff;
      border: 1px solid #66a6ff;
      transition: box-shadow 0.3s ease-in; }

.buttons {
  margin: auto;
  padding: auto; }

.step-button {
  margin: 10px auto;
  display: inline; }
  .step-button .button-continue {
    cursor: pointer;
    outline: none;
    border: none;
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background: #66a6ff;
    opacity: 0.5;
    color: white;
    font-size: 1rem; }
    .step-button .button-continue:hover {
      opacity: 1;
      transition: opacity 0.2s ease-in;
      box-shadow: -1px 1px 10px #66a6ff; }
  .step-button .button-back {
    margin: 10px auto;
    display: inline;
    cursor: pointer;
    outline: none;
    border: 0.5px solid rgba(153, 153, 153, 0.5);
    width: 150px;
    height: 40px;
    margin-left: 10px;
    padding: 10px;
    background: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px; }
    .step-button .button-back:hover {
      opacity: 1;
      box-shadow: -1px 1px 10px #66a6ff;
      transition: box-shadow 0.1s ease-in; }

.confirm-register {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .confirm-register .confirm-register-content {
    width: 400px;
    margin: auto;
    text-align: center; }

.bg-showcase {
  height: 90vh;
  padding: auto;
  position: relative;
  display: block;
  overflow: hidden; }

.showcase-inner-right-md {
  position: absolute;
  height: 70%;
  top: 10%;
  width: 600px;
  right: 0;
  margin-left: auto;
  margin-bottom: 4rem;
  padding: 30px;
  border-radius: 10px 0 0 10px;
  box-shadow: -1px 1px 5px #999;
  color: white;
  background: linear-gradient(180deg, #66a6ff, #89f7fe); }
  .showcase-inner-right-md .showcase-header-text {
    font-size: 3rem;
    font-weight: 100; }
  .showcase-inner-right-md p {
    font-size: 1.5rem; }
  .showcase-inner-right-md #submit-button-showcase {
    background: white;
    color: #66a6ff;
    border: 1px solid #999; }

.course-info {
  display: flex;
  flex-direction: column;
  box-shadow: -1px 1px 5px #999;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  padding: 20px 100px 20px 26%; }
  .course-info h1, .course-info p {
    color: #66a6ff; }
  .course-info p {
    font-size: 1.5rem; }
  .course-info .language {
    padding: 10px;
    background: rgba(137, 247, 254, 0.8);
    cursor: pointer;
    border-radius: 10px;
    max-width: 80px; }
    .course-info .language:hover {
      box-shadow: -1px 1px 10px #66a6ff; }
    .course-info .language p {
      margin: 0;
      padding: 0;
      color: #66a6ff;
      font-size: 1rem; }

.container {
  padding: 3rem; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }
