@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Muli");
nav.topbar {
  height: auto;
  padding: 20px 0 2px 0;
  margin: auto;
  position: block;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background: rgba(17, 25, 38, 0.9); }
  nav.topbar .username {
    display: flex;
    flex-direction: column;
    margin-right: 13rem;
    text-align: right;
    position: relative;
    width: 400px;
    cursor: pointer; }
    nav.topbar .username .drop-down {
      display: none;
      position: absolute;
      background: #111926;
      z-index: 1;
      padding: 10px 10px 10px 40px;
      text-align: center;
      width: 200px;
      height: auto;
      margin-top: 0.3rem;
      top: 1.2rem;
      right: 0;
      box-shadow: -1px 1px 5px rgba(17, 25, 38, 0.4); }
      nav.topbar .username .drop-down .drop-down-heading {
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: #66a6ff;
        font-weight: 300; }
      nav.topbar .username .drop-down .drop-down-item {
        list-style-type: none;
        color: #66a6ff; }
        nav.topbar .username .drop-down .drop-down-item:last-child {
          margin-bottom: 2rem; }
    nav.topbar .username:hover .drop-down {
      display: flex;
      flex-direction: column; }
    nav.topbar .username p {
      padding: 0;
      margin: 0;
      font-size: 1.2rem;
      color: #66a6ff; }
    nav.topbar .username .ball {
      width: 10px;
      height: 10px;
      border-radius: 75%;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      border: 0.05rem solid #66a6ff; }
      nav.topbar .username .ball.ball-green {
        background: rgba(46, 204, 113, 0.9); }
      nav.topbar .username .ball.ball-red {
        background: rgba(231, 76, 60, 0.9); }
    nav.topbar .username i {
      font-size: 1.2rem;
      color: #66a6ff; }
      nav.topbar .username i.fa-caret-down {
        padding: 0;
        margin: 0 0 0 5px; }
      nav.topbar .username i.fa-bell, nav.topbar .username i.fa-comment-alt {
        margin: 0 0 0 30px;
        padding-bottom: 8px;
        position: relative; }
      nav.topbar .username i.fa-bell {
        font-size: 1.7rem; }
      nav.topbar .username i.fa-comment-alt {
        margin-top: 6px;
        font-size: 1.5rem; }
        nav.topbar .username i.fa-comment-alt .ball {
          top: -3px;
          right: -4px; }
  nav.topbar .icons i {
    color: white;
    margin-right: 2rem;
    transition: color 0.3s ease-in; }
    nav.topbar .icons i:nth-child(5) {
      margin-right: 60px; }
    nav.topbar .icons i.fa-twitter {
      color: #66a6ff; }
      nav.topbar .icons i.fa-twitter:hover {
        cursor: pointer;
        transition: color 0.3s ease-in; }
    nav.topbar .icons i.fa-facebook-f {
      color: #3C5A99; }
      nav.topbar .icons i.fa-facebook-f:hover {
        cursor: pointer;
        transition: color 0.3s ease-in; }
    nav.topbar .icons i.fa-instagram {
      color: #e75d8c; }
      nav.topbar .icons i.fa-instagram:hover {
        cursor: pointer;
        transition: color 0.3s ease-in; }
    nav.topbar .icons i.fa-linkedin-in {
      color: #0099e8; }
      nav.topbar .icons i.fa-linkedin-in:hover {
        cursor: pointer;
        transition: color 0.3s ease-in; }
    nav.topbar .icons i.fa-pinterest-p {
      color: #de4049; }
      nav.topbar .icons i.fa-pinterest-p:hover {
        cursor: pointer;
        transition: color 0.3s ease-in; }
  nav.topbar .topbar-contact {
    color: white;
    padding: 5px 0;
    margin: 0 20px 0 0;
    font-size: 1.2rem; }
  @media (max-width: 824px) and (min-width: 699px) {
    nav.topbar {
      justify-content: flex-start;
      padding-left: 20px; } }
  @media (max-width: 700px) {
    nav.topbar {
      height: auto;
      justify-content: center; }
      nav.topbar .icons {
        margin: 0 0 0 40px; }
        nav.topbar .icons i {
          display: inline-block;
          padding: 10px;
          margin: auto; } }

nav.navbar {
  margin: 0;
  padding: 10px 0 5px 0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid white;
  max-height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: rgba(17, 25, 38, 0.9); }
  nav.navbar .hamburger {
    position: absolute;
    margin: 28px 10px 5px 10px;
    left: 80%;
    transform: translate(10%, -45%);
    cursor: pointer;
    margin-left: 10px; }
    nav.navbar .hamburger .line {
      height: 3px;
      margin: 5px;
      width: 30px;
      background: white;
      display: block; }
    nav.navbar .hamburger.hamburger-hidden {
      display: none; }
  nav.navbar #nav-brand {
    display: inline;
    font-size: 2rem;
    color: white;
    margin: 10px 30px 5px 50px; }
  nav.navbar .navbar-search-form {
    margin: 10px 15px 0 15px; }
    nav.navbar .navbar-search-form .navbar-search-input {
      width: 300px;
      height: 20px;
      padding: 10px;
      outline: none;
      border: none;
      font: inherit;
      background: rgba(153, 153, 153, 0.02);
      font-size: 1rem;
      border-radius: 10px;
      border: 1.2px solid rgba(102, 166, 255, 0.7);
      color: #66a6ff; }
  nav.navbar .nav-links {
    list-style-type: none;
    margin: 2px 0 0 4rem;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    nav.navbar .nav-links .username {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-right: 2rem;
      margin-left: 2rem;
      margin-top: 4rem;
      text-align: right;
      cursor: pointer; }
      nav.navbar .nav-links .username .drop-down {
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: rgba(17, 25, 38, 0.9);
        z-index: 1000;
        border-radius: 0 0 10px 10px;
        padding-top: 20px;
        text-align: right;
        width: 375px;
        height: auto;
        margin-top: 0.3rem;
        top: 6.42rem;
        right: 11rem;
        box-shadow: -1px 1px 5px rgba(17, 25, 38, 0.4); }
        nav.navbar .nav-links .username .drop-down .drop-down-heading {
          padding: 0;
          padding-right: 3rem;
          margin: 0;
          margin-bottom: 1rem;
          color: #66a6ff;
          font-weight: 300; }
        nav.navbar .nav-links .username .drop-down .drop-down-item {
          text-decoration: none;
          color: white;
          font-size: 1.5rem;
          padding: 1.5rem;
          padding-right: 3rem; }
          nav.navbar .nav-links .username .drop-down .drop-down-item:last-child {
            border-radius: 0 0 10px 10px; }
          nav.navbar .nav-links .username .drop-down .drop-down-item:hover {
            background: #111926;
            color: #66a6ff;
            transition: color 0.3s, background-color 0.3s ease; }
      nav.navbar .nav-links .username:hover .drop-down {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.2s ease; }
      nav.navbar .nav-links .username p {
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
        color: #66a6ff; }
    nav.navbar .nav-links .link {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      padding: 2px;
      margin-bottom: 1rem;
      margin-top: 1.15rem;
      font-weight: 500; }
      nav.navbar .nav-links .link.login-link {
        margin: 0; }
      nav.navbar .nav-links .link:hover {
        transition: color 0.1s ease-in;
        color: #66a6ff;
        cursor: pointer; }
    nav.navbar .nav-links .nav-link {
      text-align: center;
      display: inline;
      font-size: 1.3rem; }
      nav.navbar .nav-links .nav-link#login-link {
        padding: 15px;
        margin: 0;
        margin-left: 40px;
        border: none; }
      nav.navbar .nav-links .nav-link.nav-link-login {
        padding: 15px;
        max-width: 50px;
        font-size: 1.3rem;
        border-radius: 5px;
        margin-right: 4rem;
        width: auto;
        color: black;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;
        color: #66a6ff;
        border: 1px solid;
        border-color: #66a6ff; }
        nav.navbar .nav-links .nav-link.nav-link-login:hover {
          color: white;
          transition: color 0.3s ease; }
        nav.navbar .nav-links .nav-link.nav-link-login .link {
          color: black;
          font-weight: 800; }
          nav.navbar .nav-links .nav-link.nav-link-login .link:hover {
            color: #0055cc; }
    nav.navbar .nav-links .nav-hamburger-toggle {
      transition: max-height 0.8s ease-in;
      max-height: 1000px; }
      nav.navbar .nav-links .nav-hamburger-toggle.nav-hamburger-toggle-hidden {
        max-height: 0px;
        transition: max-height 0.8s ease-out; }
  @media (max-width: 900px) {
    nav.navbar ul.nav-ul-link {
      flex-direction: column; }
      nav.navbar ul.nav-ul-link .nav-link {
        display: block;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px; }
        nav.navbar ul.nav-ul-link .nav-link#nav-brand {
          margin: 10px auto; }
        nav.navbar ul.nav-ul-link .nav-link.nav-link-login {
          margin: 10px auto; } }

.courseCarousel {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  margin-top: 3rem;
  padding: 1rem 7rem;
  overflow: hidden; }
  .courseCarouselHeader {
    text-align: center;
    margin-top: 3rem; }
  .courseCarousel .courseBox {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    border-top: 7px solid #66a6ff;
    box-shadow: -1px 1px 5px #999; }
    .courseCarousel .courseBox .takeCourse {
      cursor: pointer;
      height: 50px;
      width: 150px;
      margin: auto;
      background: #66a6ff;
      color: white;
      border: none;
      font-size: 1rem;
      font-style: inherit;
      border-radius: 10px;
      outline: none; }
      .courseCarousel .courseBox .takeCourse:hover {
        box-shadow: -1px 1px 10px #66a6ff;
        transition: box-shadow 0.3s ease-in; }
    .courseCarousel .courseBox .courseName {
      text-align: center;
      font-size: 2rem; }
    .courseCarousel .courseBox .taughtBy {
      text-align: center; }

.courses-heading {
  text-align: center;
  color: #66a6ff;
  margin-bottom: 30px;
  margin-top: 4rem; }

.course-items {
  margin-top: 10px; }
  .course-items:last-child {
    margin-bottom: 100px; }

.courses-bg-overlay {
  height: 100%;
  padding: 10px; }

.courseItem {
  margin-bottom: 20px;
  padding: 2rem;
  border-radius: 10px;
  border: 1.5px solid #e1e4e8; }
  .courseItem:hover {
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    background: rgba(153, 153, 153, 0.2); }
  .courseItem .course-description {
    font-weight: 600; }
  .courseItem .course-title {
    font-weight: 1000;
    color: #66a6ff; }
  .courseItem .course-instructor {
    font-weight: 400; }
  .courseItem .course-language {
    margin-right: 10px;
    background: white;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: -1px 1px 5px #66a6ff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer; }

form input {
  font: inherit; }

form.stripe-form {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  box-shadow: 0 1px 6px #e1e4e8;
  border-radius: 10px;
  padding: 40px 60px 60px 60px; }
  form.stripe-form #line {
    width: 100%;
    height: 1.5px;
    background: #e1e4e8;
    margin-bottom: 2rem; }
  form.stripe-form label {
    display: block;
    margin: 0 0 5px 10px; }
    form.stripe-form label[for="name-on-card"] {
      color: #92a4b6; }
  form.stripe-form .stripe-form-title {
    margin-left: 20px;
    color: #111926; }
  form.stripe-form .stripe-form-inputs {
    display: flex;
    flex-direction: column;
    border-radius: 10px; }
  form.stripe-form .course-info {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    padding: 40px; }
    form.stripe-form .course-info .course-image {
      width: 150px;
      height: 100px;
      margin-right: 20px; }
    form.stripe-form .course-info .course-details {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      form.stripe-form .course-info .course-details .actual-details h1, form.stripe-form .course-info .course-details .actual-details p {
        margin: 0;
        padding: 0; }
      form.stripe-form .course-info .course-details .actual-details h1 {
        font-size: 1.5rem;
        margin-bottom: 5px; }
      form.stripe-form .course-info .course-details .total-details p {
        font-size: 1.5rem; }
  form.stripe-form .StripeElement {
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgba(225, 228, 232, 0.2);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin-left: auto;
    outline: none;
    margin-bottom: 20px; }
    form.stripe-form .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df; }
  form.stripe-form .stripe-form-button {
    box-sizing: border-box;
    padding: 5px;
    height: 40px;
    margin-left: auto;
    width: 400px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: rgba(102, 166, 255, 0.8);
    color: white;
    border-radius: 5px;
    font: inherit;
    box-shadow: 0px 1px 6px #66a6ff; }
    form.stripe-form .stripe-form-button:hover {
      box-shadow: -1px 1px 10px #66a6ff;
      background: #66a6ff;
      transition: background-color 0.5s ease;
      transition: box-shadow 0.3s ease; }

form.register-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  height: auto;
  border-radius: 10px 10px 5px 5px;
  background: white;
  padding-bottom: 10px; }
  form.register-form .form-heading-bg {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0; }
    form.register-form .form-heading-bg h1, form.register-form .form-heading-bg p {
      color: #66a6ff; }
  form.register-form .form-control,
  form.register-form .form-heading,
  form.register-form .form-subheading {
    margin: 10px auto; }
  form.register-form .form-heading {
    padding: 2rem 2rem 1rem 2rem;
    color: white; }
  form.register-form .form-subheading {
    color: white;
    padding: auto;
    text-align: center; }
  form.register-form .form-control .login-here, form.register-form .form-control .register-here {
    text-decoration: none;
    color: #66a6ff;
    font-weight: 600;
    font-size: 1rem; }
  form.register-form .form-control .flashed-form-message {
    padding: 0;
    margin: 5px;
    text-align: center;
    color: #E74C3C; }
  form.register-form .form-control.form-control-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center; }
    form.register-form .form-control.form-control-checkbox .password-checkbox {
      height: 20px;
      width: 20px;
      margin: 0;
      margin-right: 5px;
      padding: 0;
      cursor: pointer; }
    form.register-form .form-control.form-control-checkbox p {
      margin: 0;
      paddin: 0; }
  form.register-form .form-control .form-input {
    width: 330px;
    height: 40px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    outline: none;
    margin: 2px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 10px; }
    form.register-form .form-control .form-input:focus {
      box-shadow: -1px 1px 10px #66a6ff;
      border: none;
      transition: box-shadow 0.3s ease; }
    form.register-form .form-control .form-input.invalid {
      border: 2px solid rgba(231, 24, 55, 0.5); }
    form.register-form .form-control .form-input.valid {
      border: 2px solid rgba(46, 204, 113, 0.5); }
  form.register-form#login-form {
    height: auto;
    width: 375px;
    margin-bottom: 100px; }

.buttons {
  margin: auto;
  padding: auto; }

.step-button {
  margin: 10px auto 0 auto;
  display: inline; }
  .step-button .button-continue, .step-button .button-back {
    font: inherit; }
  .step-button .button-continue {
    cursor: pointer;
    outline: none;
    border: none;
    width: 175px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    background: #66a6ff;
    opacity: 0.5;
    color: white;
    font-size: 1rem; }
    .step-button .button-continue.last-step {
      opacity: 1;
      color: white;
      font-weight: 500;
      background: #59d78e; }
      .step-button .button-continue.last-step:hover {
        opacity: 1;
        transition: opacity 0.2s ease-in;
        box-shadow: -1px 1px 10px #abebc6; }
    .step-button .button-continue.first-step, .step-button .button-continue.login-button {
      width: 350px;
      height: 50px; }
    .step-button .button-continue.login-button {
      font-size: 1.2rem; }
    .step-button .button-continue:hover {
      opacity: 1;
      transition: opacity 0.2s ease-in;
      box-shadow: -1px 1px 10px #66a6ff; }
  .step-button .button-back {
    margin: 10px auto;
    display: inline;
    cursor: pointer;
    outline: none;
    border: 0.5px solid rgba(153, 153, 153, 0.5);
    width: 175px;
    height: 50px;
    margin-left: 10px;
    padding: 10px;
    background: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px; }
    .step-button .button-back:hover {
      opacity: 1;
      box-shadow: -1px 1px 10px #66a6ff;
      transition: box-shadow 0.1s ease-in; }

.confirm-register {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .confirm-register .confirm-register-content {
    width: 400px;
    margin: auto;
    text-align: center;
    color: rgba(102, 166, 255, 0.8); }

.flashed-message {
  text-align: center;
  margin: 5px auto;
  padding: 10px;
  width: 330px;
  font-size: 1.5rem;
  border-radius: 10px; }
  .flashed-message.red {
    color: white;
    background: rgba(255, 0, 0, 0.7); }
    .flashed-message.red.small {
      font-size: 1rem; }

form.module-form {
  display: flex;
  flex-direction: column; }
  form.module-form .input-group .module-input {
    width: 900px;
    height: 40px;
    padding: 5px;
    outline: none;
    font-size: 1.5rem;
    border: none;
    border: 1.5px solid #66a6ff;
    border-radius: 5px;
    margin-bottom: 40px; }
  form.module-form .input-group .module-temp-button {
    margin-left: 10px;
    height: 50px;
    padding: 5px;
    font-size: 1.5rem;
    width: 100px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: white;
    border: 1.5px solid #66a6ff;
    color: #66a6ff; }
    form.module-form .input-group .module-temp-button:hover {
      box-shadow: -1px 1px 5px #66a6ff;
      transition: box-shadow 0.1s ease-in; }

form.courses-search-form {
  position: relative;
  margin-bottom: 10px; }
  form.courses-search-form input.courses-search-input {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 350px;
    height: 40px;
    font-size: 1rem;
    padding: 0 5px;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid #999; }
  form.courses-search-form i {
    position: absolute;
    top: 12px;
    left: 670px;
    color: #999; }

.bg-showcase {
  height: auto;
  padding: auto;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 40px auto;
  width: 99%; }
  .bg-showcase .grid-container {
    padding: 0;
    padding-left: 100px; }
    .bg-showcase .grid-container .cta {
      height: 550px; }
      .bg-showcase .grid-container .cta .cta-heading {
        transform: translate(0, 10%); }
        .bg-showcase .grid-container .cta .cta-heading .cta-text {
          font-weight: 400;
          text-align: left;
          line-height: 2;
          color: #66a6ff; }
      .bg-showcase .grid-container .cta .cta-svg {
        padding: 0;
        background-image: url(../../svg/showcase.svg);
        background-size: contain;
        background-repeat: no-repeat; }
      .bg-showcase .grid-container .cta .cta-button {
        border: none;
        outline: none;
        box-sizing: border-box;
        padding: 30px;
        font: inherit;
        border-radius: 40px;
        color: white;
        background: rgba(102, 166, 255, 0.9);
        font-weight: 400;
        font-size: 1.6rem;
        cursor: pointer;
        left: 50%; }

.course-container {
  display: flex;
  padding-bottom: 2rem;
  margin-top: 0; }
  .course-container .course-image {
    width: 400px;
    height: 240px;
    box-shadow: -1px 1px 3px #999;
    margin-right: 60px; }
  .course-container#course-details {
    background: #fafbfc;
    padding-top: 3rem; }

ul.course-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow: hidden;
  justify-content: flex-start;
  border-bottom: 1.4px solid #e1e4e8;
  box-sizing: border-box;
  background: #fafbfc;
  margin: 0 0 20px 0; }
  ul.course-navigation li {
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2rem;
    color: #66a6ff;
    width: 200px;
    text-align: center;
    padding: 15px;
    border-radius: 5px 5px 0 0;
    margin-right: 5px; }
    ul.course-navigation li:first-child {
      margin-left: 125px; }
    ul.course-navigation li.active {
      border-top: 1.2px solid #e1e4e8;
      border-left: 1.2px solid #e1e4e8;
      border-right: 1.2px solid #e1e4e8; }

#course-info {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: 220px;
  padding: 0 10px; }
  #course-info h1, #course-info p {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    color: #66a6ff; }
  #course-info p {
    font-size: 1.5rem; }
    #course-info p.course-instructor {
      color: #999;
      font-size: 1rem;
      font-weight: 600; }
  #course-info .course-enrolled {
    background: rgba(46, 204, 113, 0.4);
    max-width: 110px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer; }
    #course-info .course-enrolled p, #course-info .course-enrolled i {
      color: #29b765;
      padding: 0;
      margin: 0;
      font-size: 1.2rem; }
  #course-info .course-payment {
    width: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center; }
    #course-info .course-payment .course-price, #course-info .course-payment .course-purchase-now {
      box-sizing: border-box;
      cursor: pointer; }
    #course-info .course-payment .course-price {
      font-size: 2rem;
      font-weight: bold;
      margin-right: 20px;
      color: #66a6ff; }
    #course-info .course-payment .course-purchase-now {
      padding: 10px 15px;
      color: #5ca0ff;
      background: rgba(102, 166, 255, 0.2);
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 2px; }
  #course-info .course-location, #course-info .course-location p {
    color: #999;
    font-size: 1rem;
    font-weight: 600;
    display: inline;
    margin-bottom: 20px; }
  #course-info .course-edit {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    cursor: pointer; }
    #course-info .course-edit:hover {
      text-decoration: underline; }
  #course-info .language {
    padding: 7px;
    cursor: pointer;
    max-width: 80px;
    background: #66a6ff;
    border-radius: 5px; }
    #course-info .language p {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 1rem;
      text-align: center;
      font-weight: 400; }

.modules {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .modules .module-item {
    max-width: 1000px;
    padding: 10px;
    max-height: 20rem;
    color: #66a6ff;
    font-size: 0.7rem;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #e1e4e8; }
    .modules .module-item:hover {
      background: rgba(225, 228, 232, 0.5);
      transition: background-color 0.3s ease; }

.moduleContainer {
  padding: 2rem 5rem 1rem 7rem;
  display: flex; }
  .moduleContainer ::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    cursor: pointer; }
  .moduleContainer ::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.4); }
  .moduleContainer .modules-ul {
    list-style-type: none;
    padding: 0;
    height: 500px;
    overflow-y: scroll; }
    .moduleContainer .modules-ul .module-list-item {
      cursor: pointer;
      padding: 20px;
      font-weight: 550; }
      .moduleContainer .modules-ul .module-list-item .module-order {
        margin-right: 20px; }
      .moduleContainer .modules-ul .module-list-item:hover, .moduleContainer .modules-ul .module-list-item.active {
        background: rgba(102, 166, 255, 0.2); }
  .moduleContainer .moduleVideoContainer {
    margin-top: 15px;
    margin-left: 50px; }

.languages-container .languages-page-header {
  text-align: center; }

.languages-container .language-box {
  width: 33%; }

.languages-container img {
  height: 300px;
  width: 300px;
  background-size: 100px 100px;
  display: inline;
  margin: auto; }

.languages-container .spanish img {
  content: url(../../svg/spain.svg); }

.languages-container .english img {
  content: url(../../svg/england.svg); }

.footer {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px 100px 0 100px;
  background-color: rgba(17, 25, 38, 0.9);
  color: white; }
  .footer .first-row,
  .footer .second-row {
    display: flex; }
  .footer .courses-available {
    display: flex;
    flex-direction: column;
    margin-right: 30px; }
    .footer .courses-available .courses-available-link {
      margin: 10px 0; }
  .footer .supported-languages {
    display: flex;
    flex-direction: column; }
    .footer .supported-languages .supported-languages-link {
      margin: 10px 0; }
  .footer .supported-languages-link, .footer .courses-available-link {
    font-size: 1.2rem;
    cursor: pointer; }
    .footer .supported-languages-link:hover, .footer .courses-available-link:hover {
      color: #66a6ff;
      transition: color 0.3s ease; }
  .footer .right-side-footer {
    padding: 20px 0 30px 30px;
    display: flex;
    flex-direction: column;
    margin-left: auto; }
    .footer .right-side-footer .other-info {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin: 20px 40px 40px 40px;
      margin-right: 0; }
      .footer .right-side-footer .other-info .other-info-child {
        margin: 5px;
        font-size: 1.3rem;
        cursor: pointer; }
        .footer .right-side-footer .other-info .other-info-child:hover {
          color: #66a6ff;
          transition: color 0.3s ease; }
    .footer .right-side-footer .footer-icons {
      display: flex;
      justify-content: flex-end; }
      .footer .right-side-footer .footer-icons i {
        margin: 0 30px; }
        .footer .right-side-footer .footer-icons i:last-child {
          margin-right: 0; }
        .footer .right-side-footer .footer-icons i.fa-twitter:hover {
          color: rgba(102, 166, 255, 0.9);
          cursor: pointer;
          transition: color 0.3s ease-in; }
        .footer .right-side-footer .footer-icons i.fa-facebook-square:hover {
          color: #3C5A99;
          cursor: pointer;
          transition: color 0.3s ease-in; }
        .footer .right-side-footer .footer-icons i.fa-instagram:hover {
          color: #e75d8c;
          cursor: pointer;
          transition: color 0.3s ease-in; }
        .footer .right-side-footer .footer-icons i.fa-linkedin-in:hover {
          color: #0099e8;
          cursor: pointer;
          transition: color 0.3s ease-in; }
        .footer .right-side-footer .footer-icons i.fa-github-alt:hover {
          color: #6cc644;
          cursor: pointer;
          transition: color 0.3s ease-in; }
  .footer .second-row {
    justify-content: flex-start;
    background-size: cover; }
    .footer .second-row .flag {
      margin: 0 15px;
      height: 40px;
      width: 40px; }
      .footer .second-row .flag:last-child {
        margin-right: 25px; }
  .footer #spanish {
    background-image: url(../../svg/spain.svg); }
  .footer #america {
    background-image: url(../../svg/united-states-of-america.svg); }

.container {
  padding: 3rem; }

.course-container {
  padding: 0 10rem 2rem 10rem; }

.courses-container {
  width: 70%;
  margin: auto; }

.languages-container {
  margin: 4rem auto 0 auto;
  width: 70%; }

.form-container {
  padding: 50px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%; }
