@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli');

$font-family: 'Montserrat', sans-serif;

$primary-color: #111926;
$secondary-color: #66a6ff;

$primary-secondary-gradient: linear-gradient(120deg, $primary-color 0%, $secondary-color 100%);
$sec-pri-gradient: linear-gradient(180deg, $secondary-color, $primary-color);