.courses-heading {
    text-align: center;
    color: $secondary-color;
    margin-bottom: 30px;
    margin-top: 4rem;
}


.course-items{
    margin-top: 10px;
    &:last-child{
        margin-bottom: 100px;
    }
}

.courses-bg-overlay{
    height: 100%;
    padding: 10px;
}

.courseItem{
    margin-bottom: 20px;
    padding: 2rem;
    border-radius: 10px;
    border: 4px solid white;
    background: rgba($secondary-color, 0.1);
    
    &:hover{
        cursor: pointer;
        transition: background-color 0.2s ease-in;
        background: rgba(#999, 0.2);
        
    }
    .course-description {
        font-weight: 600;
    }
    .course-title{
        font-weight: 1000;
        color: $secondary-color;
    }

    .course-instructor{
        font-weight: 400;
    }

    .course-language{
        margin-right: 10px;
        background: white;
        outline: none; 
        border: none;
        font-size: 1rem;
        font-weight: 400;
        box-shadow: -1px 1px 5px $secondary-color;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;

    }
}