.course-container{
    display: flex;
    margin-bottom: 2rem;
    padding-top: 3rem;

    .course-image {
        width: 400px;
        height: 200px;
        box-shadow: -1px 1px 5px #999;
        margin-right: 60px;
    }
}

ul.course-navigation{
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
    justify-content: center;

    li{
        cursor: pointer;
        font-weight: 400;
        font-size: 1.5rem;
        color: $secondary-color;
        width: 30%;
        text-align: center;
        padding: 15px;
        border-radius: 5px;
        margin-right: 5px;
        // box-shadow: -1px 1px 5px $secondary-color;

        &:hover{
            background: rgba($secondary-color, 0.1);
            transition: background-color 0.2s ease-in;
        }
        &.active{
            background: rgba($secondary-color, 0.15);
            transition: background-color 0.2s ease-in;
        }
    }
}


#course-info {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 220px;
    padding: 0 10px;
    justify-content: space-between;

    h1,p{
        margin: 0;
        padding: 0;
        color: $secondary-color;
    }

    h1{
        margin: 0 0 20px 0;
    }

    p{
        margin: 0 0 20px 0;
        font-size: 1.5rem;

        &.course-instructor{
            color: #999;
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    .course-location, .course-location p {
        color: #999;
        font-size: 1rem;
        font-weight: 600;
        display: inline;
        margin-bottom: 20px;
    }

    .course-edit {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .language {
        padding: 7px;
        cursor: pointer;
        max-width: 80px;
        background: rgba(white, 0.8);
        box-shadow: -1px 1px 5px $secondary-color;
        p{
            margin: 0;
            padding: 0;
            color: $secondary-color;
            font-size: 1rem;
            text-align: center;
            font-weight: 700;
            
        }
    }
}

.modules{
    display: flex;
    flex-direction: column;
    width: 100%;
    .module-item {
        max-width: 1000px;
        padding: 10px;
        max-height: 20rem;
        color: $secondary-color;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 10px;
        box-shadow: -1px 1px 10px rgba(#999, 0.3);

        &:hover{
            background: rgba(#999, 0.1);
        }
    }
}