$course-background: #fafbfc;

.course-container{
    display: flex;
    padding-bottom: 2rem;
    margin-top: 0;
    .course-image {
        width: 400px;
        height: 240px;
        box-shadow: -1px 1px 3px #999;
        margin-right: 60px;
    }

    &#course-details{
        background: $course-background;
        padding-top: 3rem;
    }
}

ul.course-navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
    justify-content: flex-start;
    border-bottom: 1.4px solid #e1e4e8;
    box-sizing: border-box;
    background: $course-background;
    margin: 0 0 20px 0;

    li{
        cursor: pointer;
        font-weight: 400;
        font-size: 1.2rem;
        color: $secondary-color;
        width: 200px;
        text-align: center;
        padding: 15px;
        border-radius: 5px 5px 0 0;
        margin-right: 5px;

        &:first-child{
            margin-left: 125px;
        }
        // box-shadow: -1px 1px 5px $secondary-color
        &.active{
            border-top: 1.2px solid #e1e4e8;
            border-left: 1.2px solid #e1e4e8;
            border-right: 1.2px solid #e1e4e8;
        }
    }
}


#course-info {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 220px;
    padding: 0 10px;

    h1,p{
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        color: $secondary-color;
    }

    p{
        font-size: 1.5rem;

        &.course-instructor{
            color: #999;
            font-size: 1rem;
            font-weight: 600;
        }
    }

    .course-payment{
            width: auto;
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;

            .course-price,.course-purchase-now{
                box-sizing: border-box;
                cursor: pointer;
            }
            .course-price{
                font-size: 2rem;
                font-weight: bold;
                margin-right: 20px;
                color: #52BE80;
            }
            .course-purchase-now{
                padding: 15px;
                color: white;
                background: rgba(#52BE80, 0.8);
                box-shadow: 0px 1px 6px #52BE80;
                border-radius: 10px;
                font-size: 1.2rem;
                font-weight: 500;
            }
    }

    .course-location, .course-location p {
        color: #999;
        font-size: 1rem;
        font-weight: 600;
        display: inline;
        margin-bottom: 20px;
    }

    .course-edit {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .language {
        padding: 7px;
        cursor: pointer;
        max-width: 80px;
        background: $secondary-color;
        border-radius: 5px;
        p{
            margin: 0;
            padding: 0;
            color: white;
            font-size: 1rem;
            text-align: center;
            font-weight: 400;
            
        }
    }
}

.modules{
    display: flex;
    flex-direction: column;
    width: 100%;
    .module-item {
        max-width: 1000px;
        padding: 10px;
        max-height: 20rem;
        color: $secondary-color;
        font-size: 0.7rem;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #e1e4e8;

        &:hover{
            background: rgba(#e1e4e8, 0.5);
            transition: background-color 0.3s ease;
        }
    }
}