.footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px 100px 40px 100px;
    background-color: rgba($primary-color, 0.9);
    color: white;

    .first-row,
    .second-row {
        display: flex;
    }
    .courses-available {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        .courses-available-link{
            margin: 10px 0;
            font-size: 1.6rem;
        }
    }

    .supported-languages{
        display: flex;
        flex-direction: column;

        .supported-languages-link{
            margin: 10px 0;
            font-size: 1.6rem;
        }
    }

    .right-side-footer{
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 60%;

        .other-info{
            display: flex;
            flex-direction: column;
            text-align: right;
            margin: 40px;
            margin-right: 0;

            .other-info-child{
                margin: 5px;
                font-size: 1.3rem;
            }
            i {
                margin-right: 10px;
            }
        }

        .footer-icons {
            display: flex;
            i{
                margin: auto;
                &:last-child{
                    margin: 0;
                    margin-left: auto;
                }

            &.fa-twitter {
            
            &:hover {
                color: rgba($secondary-color, 0.9);
                cursor: pointer;
                transition: color 0.3s ease-in;
                
            }
        }

        &.fa-facebook-square {
            &:hover {
                color: #3C5A99;
                cursor: pointer;
                transition: color 0.3s ease-in;
                
            }
        }

        &.fa-instagram {
            &:hover {
                color: lighten(#e1306c, 10);
                cursor: pointer;
                transition: color 0.3s ease-in;
                
            }
        }

        &.fa-linkedin-in { 
            &:hover {
                color: lighten(#0077b5, 10);
                cursor: pointer;
                transition: color 0.3s ease-in;
                    }
                }

        &.fa-github-alt{
            &:hover {
                color: #6cc644;
                cursor: pointer;
                transition: color 0.3s ease-in;
                    }
        }
            }
        }
    }

    .second-row{
        justify-content: flex-start;
        background-size: cover;
        .flag{
            margin: 0 15px;
            &:last-child{
                margin-right: 25px;
            }
            height: 40px;
            width: 40px;
        }
    }

    #spanish{
        background-image: url(../../svg/spain.svg);
    }

    #america{
        background-image: url(../../svg/united-states-of-america.svg);
    }
}