form.register-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 40px auto;
    height: auto;
    box-shadow: -1px 1px 10px #999;
    border-radius: 0 0 5px 5px;
    background: white;

    .form-heading-bg{
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
        background: linear-gradient($primary-color, $secondary-color);
    }

    .form-control,
    .form-heading,
    .form-subheading{
        margin: 10px auto;
    }

    .form-heading {
        color: white;
        padding: 20px;
        font-weight: 600;
        font-size: 2rem;
    }

    .form-subheading{
        color: rgba(#999, 0.9);
    }

    .form-control {
        .form-input {
            width: 300px;
            height: 30px;
            border: 1px solid rgba(#999, 0.5);
            outline: none;
            padding: 10px;
            font-size: 1rem;
            &:focus{
                box-shadow: -1px 1px 10px $secondary-color;
                border: 1px solid $secondary-color;
                transition: box-shadow 0.1s ease-in;
            }
        }

        
    }

    &#login-form{
        height: auto;
        width: 375px;

        .form-heading-bg{
        }

        .form-heading{
            padding: 2rem 2rem 1rem 2rem;
            color: white;
        }

        .form-subheading{
            color: white;
            padding: 0 2rem 1rem 2rem;
            margin-bottom: 1rem;
        }
    }
 
}

.buttons {
    margin: auto;
    padding: auto;
}

.step-button {
    margin: 10px auto 30px auto;
    display: inline;

    .button-continue {

        cursor: pointer;
        outline: none;
        border: none;
        width: 150px;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        background: $secondary-color;
        opacity: 0.5;
        color: white;
        font-size: 1rem;

        &.last-step{
            opacity: 1;
            color: white;
            font-weight: 500;
            background: darken(#ABEBC6, 20);
        }

        &:hover {
            opacity: 1;
            transition: opacity 0.2s ease-in;
            box-shadow: -1px 1px 10px #abebc6;
        }
    }

    .button-back {
        margin: 10px auto;
        display: inline;
        cursor: pointer;
        outline: none;
        border: 0.5px solid rgba(#999, 0.5);
        width: 150px;
        height: 40px;
        margin-left: 10px;
        padding: 10px;
        background: white;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;

        &:hover {
            opacity: 1;
            box-shadow: -1px 1px 10px $secondary-color;
            transition: box-shadow 0.1s ease-in;
        }
    }
}

.confirm-register{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .confirm-register-content {
        width: 400px;
        margin: auto;
        text-align: center;
        color: white;
    }
}

.flashed-message {
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 400px;
    font-size: 1.5rem;
    border-radius: 10px;
    
    &.red {
        color: white;
        background: rgba(red, 0.5);
    }

}

form.module-form {

    //This should change. Going to add a course-container div to my main file or add a layout file
    display: flex;
    flex-direction: column;

    .input-group {
        .module-input{
            width: 900px;
            height: 40px;
            padding: 5px;
            outline: none;
            font-size: 1.5rem;
            border: none;
            border: 1.5px solid $secondary-color;
            border-radius: 5px;
            margin-bottom: 40px;

        }

        .module-temp-button {
            margin-left: 10px;
            height: 50px;
            padding: 5px;
            font-size: 1.5rem;
            width: 100px;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            background: white;
            border: 1.5px solid $secondary-color;
            color: $secondary-color;

            &:hover{
                box-shadow: -1px 1px 5px $secondary-color;
                transition: box-shadow 0.1s ease-in;
            }
        }
    }
}

form.courses-search-form{
    position: relative;
    margin-bottom: 10px;
    input.courses-search-input{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 350px;
        height: 40px;
        font-size: 1rem;
        padding: 0 5px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-shadow: -1px 1px 5px #999;
        
        &:focus{
            transition: box-shadow 0.3s ease-in;
            box-shadow: -1px 1px 15px rgba($secondary-color, 0.8);
        }
    }
    i{
        position: absolute;
        top: 12px;
        left: 650px;
        color: #999;
    }
}