form {
    input{
        font: inherit;
    }
}

form.stripe-form{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    box-shadow: 0 1px 6px $border-color;
    border-radius: 10px;
    padding: 40px 60px 60px 60px;

    #line{
        width: 100%;
        height: 1.5px;
        background: $border-color;
        margin-bottom: 2rem;
    }

    label {
        display: block;
        margin: 0 0 5px 10px;

        &[for="name-on-card"]{
            color: darken(#cfd7df, 20%);
        }
    }

    .stripe-form-title{
        margin-left: 20px;
        color: $primary-color;
    }

    .stripe-form-inputs{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .course-info {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        padding: 40px;
        .course-image{
            width: 150px;
            height: 100px;
            margin-right: 20px;
        }
        .course-details{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .actual-details{
                h1, p{
                    margin: 0;
                    padding: 0;
                }
                h1{
                    font-size: 1.5rem;
                    margin-bottom: 5px;
                }
            }

            .total-details{
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }

    .StripeElement {
        box-sizing: border-box;
        width: 400px;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: rgba($border-color, 0.2);
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
        margin-left: auto;
        outline: none;
        margin-bottom: 20px;

        &--focus{
            box-shadow: 0 1px 3px 0 #cfd7df;
        }
    }

    .stripe-form-button{
        box-sizing: border-box;
        padding: 5px;
        height: 40px;
        margin-left: auto;
        width: 400px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        background: rgba($secondary-color, 0.8);
        color: white;
        border-radius: 5px;
        font: inherit;
        box-shadow: 0px 1px 6px $secondary-color;

        &:hover{
            box-shadow: -1px 1px 10px $secondary-color;
            background: rgba($secondary-color, 1);
            transition: background-color 0.5s ease;
            transition: box-shadow 0.3s ease;
        }
    }
}

form.register-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    border-radius: 10px 10px 5px 5px;
    background: white;
    padding-bottom: 10px;

    .form-heading-bg{
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
        
        h1, p{
            color: $secondary-color;
        }
    }

    .form-control,
    .form-heading,
    .form-subheading{
        margin: 10px auto;
    }

    .form-heading {
        padding: 2rem 2rem 1rem 2rem;
        color: white;
    }

    .form-subheading{
        color: white;
        padding: auto;
        text-align: center;
    }

    .form-control {

        .login-here, .register-here{
            text-decoration: none;
            color: $secondary-color;
            font-weight: 600;
            font-size: 1rem;
        }

        .flashed-form-message{
            padding: 0;
            margin: 5px;
            text-align: center;
            color: #E74C3C;
        }

        &.form-control-checkbox{
            display: flex;
            flex-direction: row;
            align-items: center;
        .password-checkbox{
            height: 20px;
            width: 20px;
            margin: 0;
            margin-right: 5px;
            padding: 0;
            cursor: pointer;
        }
        p{
            margin: 0;
            paddin: 0;
        }
    }

        .form-input {
            width: 330px;
            height: 40px;
            border: 1px solid rgba(#999, 0.5);
            outline: none;
            margin: 2px 10px;
            padding: 10px 10px 10px 10px;
            font-size: 1rem;
            border-radius: 10px;

            &:focus{
                box-shadow: -1px 1px 10px $secondary-color;
                border: none;
                transition: box-shadow 0.3s ease;
            }

            &.invalid {
                border: 2px solid rgba(#e71837, 0.5);
            }
            &.valid {
                border: 2px solid rgba(#2ECC71, 0.5);
            }
        }

        
    }

    &#login-form{
        height: auto;
        width: 375px;
        margin-bottom: 100px;
    }
 
}

.buttons {
    margin: auto;
    padding: auto;
}

.step-button {
    margin: 10px auto 0 auto;
    display: inline;

    .button-continue,.button-back{
        font: inherit;
    }

    .button-continue {
        cursor: pointer;
        outline: none;
        border: none;
        width: 175px;
        height: 50px;
        padding: 10px;
        border-radius: 5px;
        background: $secondary-color;
        opacity: 0.5;
        color: white;
        font-size: 1rem;

        &.last-step{
            opacity: 1;
            color: white;
            font-weight: 500;
            background: darken(#ABEBC6, 20);

            &:hover {
            opacity: 1;
            transition: opacity 0.2s ease-in;
            box-shadow: -1px 1px 10px #abebc6;
            }
        }

        &.first-step,&.login-button{
            width: 350px;
            height: 50px;
        }

        &.login-button{
            font-size: 1.2rem;
        }

        &:hover {
            opacity: 1;
            transition: opacity 0.2s ease-in;
            box-shadow: -1px 1px 10px $secondary-color;
        }
    }

    .button-back {
        margin: 10px auto;
        display: inline;
        cursor: pointer;
        outline: none;
        border: 0.5px solid rgba(#999, 0.5);
        width: 175px;
        height: 50px;
        margin-left: 10px;
        padding: 10px;
        background: white;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;

        &:hover {
            opacity: 1;
            box-shadow: -1px 1px 10px $secondary-color;
            transition: box-shadow 0.1s ease-in;
        }
    }
}

.confirm-register{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .confirm-register-content {
        width: 400px;
        margin: auto;
        text-align: center;
        color: rgba($secondary-color, 0.8);
    }
}

.flashed-message {
    text-align: center;
    margin: 5px auto;
    padding: 10px;
    width: 330px;
    font-size: 1.5rem;
    border-radius: 10px;
    
    &.red {
        color: white;
        background: rgba(red, 0.7);

        &.small{
            font-size: 1rem;
        }
    }

}

form.module-form {

    //This should change. Going to add a course-container div to my main file or add a layout file
    display: flex;
    flex-direction: column;

    .input-group {
        .module-input{
            width: 900px;
            height: 40px;
            padding: 5px;
            outline: none;
            font-size: 1.5rem;
            border: none;
            border: 1.5px solid $secondary-color;
            border-radius: 5px;
            margin-bottom: 40px;

        }

        .module-temp-button {
            margin-left: 10px;
            height: 50px;
            padding: 5px;
            font-size: 1.5rem;
            width: 100px;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            background: white;
            border: 1.5px solid $secondary-color;
            color: $secondary-color;

            &:hover{
                box-shadow: -1px 1px 5px $secondary-color;
                transition: box-shadow 0.1s ease-in;
            }
        }
    }
}

form.courses-search-form{
    position: relative;
    margin-bottom: 10px;
    input.courses-search-input{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 350px;
        height: 40px;
        font-size: 1rem;
        padding: 0 5px;
        outline: none;
        border: none;
        border-bottom: 0.1rem solid #999;
    }
    i{
        position: absolute;
        top: 12px;
        left: 670px;
        color: #999;
    }
}