.bg-showcase {
    height: 90vh;
    padding: auto;
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    width: 80%;
    .grid-container{
        padding: 0;
        padding-left: 100px;
    .cta {
        .cta-heading {
            transform: translate(0, 20%);
            .cta-text {
                font-weight: 400;
                text-align: left;
                line-height:2;
                color: $secondary-color;
            }
        }
        .cta-blobs{
            padding-left: 40px;
            .top-blob{
                height: 400px;
                border: none;
                width: 500px;
                transform: rotate(-45deg);
                margin: 0;
                padding: 0;
                border-radius: 100px;
            }
        }

        .cta-button{
            border:none;
            outline: none;
            box-sizing: border-box;
            padding: 30px;
            font: inherit;
            border-radius: 40px;
            color: white;
            background: rgba($secondary-color, 0.9);
            font-weight: 400;
            font-size: 1.6rem;
            cursor: pointer;
            left: 50%;
        }
    }
}
}