.bg-showcase {
    height: auto;
    padding: auto;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 40px auto;
    width: 99%;
    .grid-container{
        padding: 0;
        padding-left: 100px;
    .cta {
        height: 550px;
        .cta-heading {
            transform: translate(0, 10%);
            .cta-text {
                font-weight: 400;
                text-align: left;
                line-height:2;
                color: $secondary-color;
            }
        }
        .cta-svg{
            padding: 0;
            background-image: url(../../svg/showcase.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        .cta-button{
            border:none;
            outline: none;
            box-sizing: border-box;
            padding: 30px;
            font: inherit;
            border-radius: 40px;
            color: white;
            background: rgba($secondary-color, 0.9);
            font-weight: 400;
            font-size: 1.6rem;
            cursor: pointer;
            left: 50%;
        }
    }
}
}