
.moduleContainer {
    padding: 2rem 5rem 1rem 7rem;
    display: flex;

    ::-webkit-scrollbar{
            width: 10px;
            background-color: #fff;
            cursor: pointer;
        }
    ::-webkit-scrollbar-thumb{
        background-color: rgba(#999, 0.4);
    }

    .modules-ul{
        list-style-type: none;
        padding: 0;
        height: 500px;
        overflow-y: scroll;


        .module-list-item {
            cursor: pointer;
            padding: 20px;
            font-weight: 550;

            .module-order{
                margin-right: 20px;
            }

            &:hover,
            &.active{
                background: rgba($secondary-color, 0.2);
            }
        }
    }

    .moduleVideoContainer{
        margin-top: 15px;
        margin-left: 50px;
    }
}