$navbar-height: 7rem;
$navbar-padding: 20px;
$navbar-color: rgba(#111926, 0.9);
$link-padding-bottom: 0.2rem;

nav.navbar {
    margin: 0;
    padding: $navbar-padding;
    padding-bottom: 0;
    box-sizing: border-box; 
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: rgba(#111926, 0.9);

    .hamburger {
        position: absolute;
        margin: 20px 5px 5px 10px;
        left: 80%;
        transform: translate(10%, -45%);
        cursor: pointer;
        margin-left: 10px;

        .line {
            height: 3px;
            margin: 5px;
            width: 30px;
            background: white;
            display: block;
            
        }
        &.hamburger-hidden{
            display: none;
        }
    }

    .nav-links{
        list-style-type: none;
        margin: 2px 0 0 4rem;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        #nav-brand{
            display: inline;
            font-size: 2rem;
            color: white;
            margin: 0 10px;
            padding-bottom: 1rem;
        }

        .content{
            display: flex;
            flex-direction: row;
            align-content: center;
        }

        .username {
            display: flex;
            flex-direction: column;
            text-align: right;
            cursor: pointer;
            box-sizing: border-box;
            margin: 0 15px;
            height: 100%;
            padding: 0;
            padding-top: 7px;
            padding-bottom: $link-padding-bottom;

        .drop-down{
            visibility: hidden;
            opacity: 0;
            display: flex;
            flex-direction: column;
            position: absolute;
            background: $navbar-color;
            z-index: 1000;
            padding-top: 20px;
            padding-bottom: 5px;
            text-align: right;
            width: 375px;
            height: auto;
            margin-top: 0.3rem;
            top: 4.55rem;
            right: 10rem;
            box-shadow: -1px 1px 5px rgba($primary-color, 0.4);

            .drop-down-heading{
                padding: 0;
                padding-right: 3rem;
                margin: 0;
                margin-bottom: 1rem;
                color: white;
                font-weight: 600;
                font-size: 1.3rem;
            }

            .drop-down-item{
                text-decoration: none;
                color: white;
                font-size: 1.3rem;
                padding: 1rem;
                padding-right: 3rem;
                font-weight: 500;

                &:hover{
                    background: rgba($navbar-color, 0.4);
                    color: $secondary-color;
                    transition: color 0.3s, background-color 0.3s ease;
                }
            }
        }

        &:hover{
            .drop-down{
                visibility: visible;
                opacity: 1;
                transition: visibility 0s, opacity 0.2s ease;
            }
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
            color: $secondary-color;
        }
    }

        .link {
            color: white;
            text-decoration: none;
            font-weight: 500;
            //same as enrolled courses
            padding-top: 7px;
            padding-bottom: $link-padding-bottom;

            &:hover {
                transition: color 0.1s ease-in;
                color: $secondary-color;
                cursor: pointer;
            }
        }

        .nav-link{
            font-size: 1.3rem;
            margin: 0 15px;

            &.nav-link-login{
                box-sizing: border-box;
                max-width: 50px;
                font-size: 1.3rem;
                border-radius: 5px;
                margin-right: 4rem;
                padding-bottom: $link-padding-bottom;
                padding-top: 7px;
                width: auto;
                color: black;
                cursor: pointer;
                outline: none;
                color: $secondary-color;

                &:hover{
                color: white;
                transition: color 0.3s ease;
                }

                .link {
                    color: black;
                    font-weight: 800;
                    &:hover{
                        color: darken($secondary-color, 30%);
                    }
                }
            }
        }

        .nav-hamburger-toggle {
            transition: max-height 0.8s ease-in;
            max-height: 1000px; 
            

            &.nav-hamburger-toggle-hidden{
                max-height: 0px;
                transition: max-height 0.8s ease-out;
            }

        }
    }

    .show-content {
        visibility: show;
        max-height: 1000px;
    }
    .hide-content {
        visibility: hidden;
        max-height: 0;
    }
    .show-content,
    .hide-content{
        transition: max-height 1s, visibility 1s ease-out;
    }

    // @media(max-width: 550px){
    //     max-height: 10px;
    //     transition: max-height 0.5s;
    // }
    //This is about the point where the branding meets the navbar with three items
    @media(max-width: 900px) {
        
        .nav-links {
            flex-direction: column;

            #nav-brand{
                padding: 0;
            }

            .content {
                flex-direction: column;
                box-sizing: content-box;
                padding-bottom: 20px;
                overflow: hidden;

                .username {
                    text-align: left;

                    .drop-down{
                        width: 100%;
                        max-height: 125px;
                        left: 0;
                        top: 65px;
                        background: rgba($primary-color, 0.95);

                        .drop-down-heading {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}