$top-bar-height: 2rem;

nav.topbar {
    height: auto;
    padding: 10px 0;
    margin: auto;
    position: block;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: rgba($primary-color, 0.9);

    .username {
        display: flex;
        margin-right: 40px;
        cursor: pointer;

        p {
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            color: $secondary-color;
        }

        .ball{
            width: 10px;
            height: 10px;
            border-radius: 75%;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            border: 0.05rem solid $secondary-color;

            &.ball-green{
                background: rgba(#2ECC71, 0.9);
            }

            &.ball-red{
                background: rgba(#E74C3C, 0.9);
            }
        }

        i {
            font-size: 1.5rem;
            color: $secondary-color;
            &.fa-caret-down{
                padding: 0;
                margin: 5px 0 0 5px;
            }

            &.fa-bell,
            &.fa-comment-alt{
                margin: 3px 0 0 30px;
                position: relative;
            }

            &.fa-bell{
                font-size: 1.7rem;
            }

            &.fa-comment-alt{
                margin-top: 6px;
                font-size: 1.5rem;
                .ball{
                    top: -3px;
                    right: -4px;
                }
            }
        }

    }

    .icons i {
        color: white;
        margin-right: 2rem;
        transition: color 0.3s ease-in;

        &:nth-child(5) {
            margin-right: 60px;
        }

        &.fa-twitter {
            color: $secondary-color;
            &:hover {
                cursor: pointer;
                transition: color 0.3s ease-in;
                
            }
        }

        &.fa-facebook-f {
            color: #3C5A99;
            &:hover {
                cursor: pointer;
                transition: color 0.3s ease-in;
                
            }
        }

        &.fa-instagram {
            color: lighten(#e1306c, 10);
            &:hover {
                cursor: pointer;
                transition: color 0.3s ease-in;
                
            }
        }

        &.fa-linkedin-in {
            color: lighten(#0077b5, 10);
            &:hover {
                cursor: pointer;
                transition: color 0.3s ease-in;
                
            }
        }

        &.fa-pinterest-p {
            color: lighten(#c8232c, 10);
            &:hover {
                cursor: pointer;
                transition: color 0.3s ease-in;
                
            }
        }
    }

    .topbar-contact {
        color: white;
        padding: 5px 0;
        margin: 0 20px 0 0;
        font-size: 1.2rem;
    }

    @media(max-width: 824px) and (min-width: 699px) {
        justify-content: flex-start;
        padding-left: 20px;
    }

    @media(max-width: 700px) {

        height: auto;
        justify-content: center;

        .icons {
            margin: 0 0 0 40px;
            i {
                display: inline-block;
                padding: 10px;
                margin: auto;
            }
        }
    }
}